.PokedexBackground {
  background: #dc2130;
  background-image: url('/img/pokedex.jpg');
  background-position-y: 54px;

  background-size: 400px auto;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
