.BoxedInfo {
  background: #cac5c6;
  border: 5px solid black;
}

.SpriteOption [type='radio'] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.SpriteOption [type='radio'] + img {
  cursor: pointer;
}

.SpriteOption [type='radio']:checked + img {
  outline: 4px solid black;
  background: crimson;
}

.TrainerSprite {
  height: 100px;
}
