.PokemonCard {
    border: 3px solid black;
    border-radius: 15%;
    background: lightgrey;
    width: 200px;
    display: inline-block;
    box-sizing: border-box;

    margin: 20px;
    padding: 20px;
}

.PokemonHeader {
    font-size: 1.1em;
    font-weight: bold;
}

.PokemonImage {
    height: 100px;
    width: 100px;
    margin: 5px;
}