body {
  background: whitesmoke;
  height: 100%;
}

.PokedexPage {
  display: flex;
  flex-direction: column;
}

.GridContainer {
  display: grid;
  grid-template-columns: auto auto;

  background: #dc2130;
  border: 10px solid black;
  width: 500px;

  margin: 40px auto 25px auto;
  padding: 10px;

  text-align: center;
}

.PageHeader {
  grid-column: 1 / span 2;
  margin: 0px 0px 10px 0px;
  line-height: 1.2;
}

.PokedexName {
  font-size: 2.5em;
  color: white;
  text-shadow: -1px 4px 0 black, 3px 4px 0 black, 3px -1px 0 black,
    -1px -1px 0 black;
}

.PokedexClassification {
  margin: 10px 0px 0px 0px;
}

.ImagesContainer {
  grid-row: 2 / span 2;
  grid-column: 1;
  border: 5px black solid;
  background: #ff5365;
  padding: 10px;
}

.Header {
  margin: 5px;
  text-transform: uppercase;
}

.PokedexImage {
  height: 100px;
  width: 100px;
  margin: 5px;
}

.SpriteImage {
  height: 90px;
  width: 90px;
  background: #e0e5eb;
  border: 1px solid black;
  border-radius: 25%;
  margin: 10px 5px 0px 5px;
  padding: 2px;
}

.TypeContainer {
  grid-row: 2;
  grid-column: 2;

  border: 5px solid black;
  margin: 0px 0px 0px 10px;
  padding: 10px;

  background: #ff5365;
}

.PokedexTypeImage {
  height: 22px;
  width: 60px;
}

.StatsContainer {
  grid-row: 3;
  grid-column: 2;

  border: 5px solid black;
  margin: 10px 0px 0px 10px;
  padding: 10px;

  background: #ff5365;
}

.StatsTable {
  display: inline-grid;

  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto;
  grid-gap: 5px;

  border: 2px dashed black;
  background: #5a8a00;
  margin: auto auto;
  padding: 10px;
}

.StatsTable div {
  display: inline;
  text-align: left;
}

.StatsTable div:nth-child(2n) {
  margin: 0px 0px 0px 15px;
  text-align: right;
}

.PokedexListButton {
  display: inline;
  margin: 0px auto;
  padding: 8px;

  border: 2px solid black;
  background: black;
  color: white;

  text-decoration: none;
}

.PokedexListButton:hover {
  background: white;
  color: black;

  text-decoration: none;
  cursor: pointer;
}
