.TrainerCard {
  border: 3px solid black;
  height: 175px;
}

.TrainerImage {
  height: 100%;
  width: auto;
  object-fit: cover;
}

.PokemonImage {
  height: 80%;
  width: auto;
  object-fit: cover;
}
